@{
    ViewBag.Title = "Builder";
    Layout = "~/Views/Shared/_InnerPages.cshtml";
}

  <div class="container col-lg-12" style="background:url('../images/bg.png');">
<div class="col-lg-12"><img src="../images/tri.png" class="img-responsive" style="margin-left: -9px;"/></div>
    
    <p id="notice"></p>
    
    <div class="container text-center">
  
  <div >
  <div class="row">
   <h2 style="color:#FFFFFF;">Sencha ExtJS Job Post Builder <i class="icon-large"><img src="../images/speaker.png"/></i><i class="icon-large"><img src="../images/user.png"/></i><i class="icon-large"><img src="../images/envelope.png"/></i><i class="icon-large"><img src="../images/code.png"/></i></h2>
  </div>
 
  <div>
    <em class="lead" style="color:#FFFFFF;">Choose a service to continue.</em>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:5px">
      <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://in.linkedin.com/">
        <span class="hidden-xs">Linkedin <i class="icon-large"><img src="../images/linkedin.png"/></i></span>
        <i class="icon-linkedin-sign icon-large visible-xs"></i>
      </a>
      <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://plus.google.com">
        <span class="hidden-xs">Google <i class="icon-large"><img src="../images/google.png"/></i></span>
        <i class="icon-google-plus-sign visible-xs"></i>
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://github.com/">
        <span class="hidden-xs">Github <i class="icon-large"><img src="../images/github.png"/></i></span>
        <i class="icon-github icon-large visible-xs"></i>
      </a>
      <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://www.facebook.com/">
        <span class="hidden-xs">Facebook <i class="icon-large"><img src="../images/facebook.png"/></i></span>
        <i class="icon-facebook-sign icon-large visible-xs"></i>
      </a>
    </div>
  </div>
  
</div>
 <p>&nbsp;</p>
  <p>&nbsp;</p>
   <p>&nbsp;</p>
   
   <div class="container well text-center" style="background-color: rgba(250, 250, 250, 0.57) !important;">
    <p><strong>Create a job post to reach thousands of JavaScript developers.</strong></p>
    <p>Each post is displayed on our homepage and manually delivered to niche communities.</p>
    <p>Reach members of Sencha ExtJS groups across the major online networks.</p>
  </div>
   <div class="container well text-center" style="background:none !important; border:none !important;">
    <h1 style="color:#FFFFFF;">We Love Our Customers.</h1>
    <br/>
   <p><img src="../images/job_post_company_logos.png" class="img-responsive" style="display:inline-block !important"/></p>
  </div>
   <p>&nbsp;</p>

</div>

</div>


<p>&nbsp;</p>
<div class="container">
<div class="row">
  <div class="featured-listings">
        <div class="col-md-12 text-center">
          <div class="well well-sm" style="height:6em; overflow:auto;background:#ededed;">
           <article itemscope itemtype="#" class="col-md-12">
             <span class="lead" itemprop="description" style="font-size:15px;">
             
    <p>Each week, job posts are included in an update email to the 14 Thousand members of the <a href="http://www.linkedin.com" target="new" rel="me">Sencha ExtJS Developers Group on LinkedIn</a>.</p>
    <p><b>Your job post is included in that email.</b></p>
    
  </article>
         
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="well well-sm" style="height:6em;overflow:auto;background:#ededed;">
           
              <article itemscope itemtype="#">
               <span class="lead" itemprop="description" style="font-size:15px;">
               <p>&nbsp;</p>
                 <p>Your job will be tweeted by <a href="https://twitter.com" target="new" rel="me"> &#64;SenchaExtJS</a> and <a href="https://twitter.com" target="new" rel="me"> &#64;SenchaExtJS_News</a> to reach over 17 Thousand Sencha ExtJS developers on Twitter.</p>
                </span>
               </article>
           
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="well well-sm " style="height:6em;overflow:auto;background:#ededed;">
          
              <article itemscope itemtype="#">
               
               
                <span class="lead" itemprop="description" style="font-size:15px;">
                <p>&nbsp;</p>
               <p>Reach Sencha ExtJS developers via the <a href="https://plus.google.com" target="new" rel="me">Sencha ExtJS Google+ page</a> and <a href="https://www.facebook.com" target="new" rel="me">Sencha Ext.JsJobs on Facebook</a>.</p>
                </span>
               
                <!--<i class="icon-ok"></i><i>Posted:</i> <span itemprop="datePosted" datetime="2015-01-19">2015-01-19</span>-->
              </article>
           
          </div>
        </div>
       
  </div>
</div>
<p>&nbsp;</p>
 </div>
 
 <div class="col-lg-12 text-center" style="background:url(../images/bg2.png);">
<div class="container text-center">
<div class="col-lg-2">&nbsp;</div>
<div class="col-lg-8 text-center" >
<p>&nbsp;</p>
<div  id="curve_chart" style="width:100%; height:100%;"></div>
<p>&nbsp;</p>

</div>
<div class="col-lg-2">&nbsp;</div>
<p>&nbsp;</p>

</div>
</div>

<div class="container">
<div class="row">
  <div >
    <h1>Job Post FAQs</h1>
    <hr>
    <h2>General</h2>
    <h3>Reasons to Post on Sencha Ext.Js Jobs.</h3>
    <ol>
       <li>Your job reaches developers via Sencha Ext.Js Jobs proprietary channels.</li>
       <li>Top developers actively seek work with bleeding-edge technologies like Sencha Ext.Js.</li>
       <li>Emphasize your companies bleeding-edge status by being present on the job board.</li>
    </ol>
    <h3>What if Sencha Ext.Js isn’t the primary tech that we use?</h3>
    <p>Sencha Ext.Js Jobs developers simply want to experience working with Sencha Ext.Js. Some developers may prefer to work in an environment which complements an Sencha Ext.Js application. Most developers also have non-JavaScript expertise(java, ruby, python, php, etc.). Use the job board to reach developers with a broad range of backgrounds and a common interest in Sencha Ext.Js.</p>
    <h3>Is the job board right for me?</h3>
    <p>If you agree with any of these statements then the job board is right for you:</p>
    <ul>
       <li>I’m seeking a fresh source of developers who are seeking work with bleeding-edge tech.</li>
       <li>I’m seeking a high ROI on my advertising budget to find talent.</li>
       <li>I can determine if someone is a good fit for the job I am hiring for.</li>
       <li>I am a recruiter.</li>
       <li>I am hiring for a bootstrapped startup.</li>
       <li>I am located outside of the US.</li>
    </ul>
    <h3>What should be included in the job post?</h3>
    <ul>
       <li>Location.</li>
       <li>What the developer can expect to contribute.</li>
       <li>Technologies and framework the developer can expect to be exposed to.</li>
       <li>How the developers success in the position will be judged.</li>
       <li>Notes about the companies culture.</li>
       <li>Notes about the developers work environment.</li>
       <li>Remote positions: Meeting schedules, organizational structure, productivity tools used and other pertinent information for succeeding as a remote part of your team.</li>
       <li>The perks of working for your company.</li>
       <li>Compensation expectations.</li>
       <li>Relocation benefits(<i>if applicable</i>).</li>
    </ul>
    <h2>Applications</h2>
    <h3>How does Sencha Ext.Js Jobs collect applications?</h3>
    <p>When a developer clicks ‘Apply’ their name and email address recorded for the hiring party. The contact information and developer submitted files are available via the ‘/developers’ page(results page). Sencha Ext.Js Jobs notifies you when new developers apply via the job post. Even after the 30 days.</p>
    <h3>Can I collect application with a third party service?</h3>
    <p>At the moment, yes! Just input the URL of the link you would prefer developers be directed to when clicking the ‘Apply’ button.</p>
    <h2>Distribution Channels</h2>
    <h3>How long will the job post remain on the Sencha Ext.Js Jobs homepage?</h3>
    <p>Thirty(30) days from the day it is posted.</p>
    <h2>When will the job post be distributed via Sencha Ext.Js Jobs social channels?</h2>
    <p>Each job post distribution is scheduled for a time that has been predicted to reach the most targeted eyes. This social updates usually go LIVE within 24 hours of posting the job.</p>
    <h3>Who will receive the job post via email?</h3>
    <p>The job posts are delivered in a biweekly email to developers of the <a class="c1" href="https://www.google.com/">Sencha Ext.Js Developers Group</a>&nbsp;on LinkedIn.</p>
    <h3>I want to find Sencha Ext.Js developers on LinkedIn. Does Sencha Ext.Js Jobs reach talent on LinkedIn?</h3>
    <p>Yes, every new post on our job board is shared on LinkedIn via the <a class="c1" href="http://www.google.com/">Sencha Ext.Js Developers Group</a>.</p>
    <h3>I want to find Sencha Ext.Js developers on Facebook. Does Sencha Ext.Js Jobs reach talent on Facebook?</h3>
    <p>Yes, every new post on our job board is shared on Facebook via the <a class="c1" href="https://www.google.com/">Sencha Ext.Js Jobs Page</a>&nbsp;and boosted with a Facebook Ads campaign.</p>
    <h3>I want to find Sencha Ext.Js developers on Twitter. Does Sencha Ext.Js Jobs reach talent on Twitter?</h3>
    <p>Yes, every new post on our job board is shared on Twitter via <a class="c1" href="https://www.google.com/"> &#64;Sencha Ext.Js Jobs</a>&nbsp;and  &#64;Sencha Ext.Js_news.</p>
    <h3>I want to find Sencha Ext.Js developers on Google+. Does Sencha Ext.Js Jobs reach talent on Google+?</h3>
    <p>Yes, every new post on our job board is shared on Google+ via the <a class="c1" href="https://www.google.com">Sencha Ext.Js Jobs Page</a>.</p>
    <h2>Money Back Guarantee</h2>
    <h3>What if I am unhappy with my results?</h3>
    <p>We’ll work with you to repost or return your money.</p>
    <br/>
    <br/>
  </div>
</div>
</div>

<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sencha Ext.Js', 'node.js','ruby on rails', 'ember.js'],
          ['Jul 2011',  10,      9,12, 13],
          ['Jan 2012',  20,      12,25,12],
          ['Jul 2012',  29,       11,20,6],
          ['Jan 2013',  30,      20,22,26],
		  ['Jul 2013',  33,      30,33,39],
		  ['Jan 2014',  40,      30,25,30]
        ]);

        var options = {
          title: 'Interest over time. Web Search. Worldwide, Jan 2011 - Jul 2014.',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
