@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_InnerPages.cshtml";
}

  <div class=" col-lg-12" style="background:url(../images/bg.png)">
<div class="col-lg-12"><img src="../images/tri.png" class="img-responsive"style="margin-left: -9px;"/></div>
 <div class="container">
 <p>&nbsp;</p>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:#FFFFFF;">
    <h1>Sencha ExtJs Talent Recruitment</h1>
    <ul class="lead" style="font-size:19px;">
      <li>Need to hire a JavaScript developer?</li>
      <li>Interested in tapping into our talent network?</li>
      <li>We're here to make hiring Sencha ExtJs talent a breeze.</li>
      <li><em>Fill out the form and we will reach out to you shortly.</em></li>
    </ul>
    <p class="lead"><b>Speed-Up the Application:</b>
      <a class="btn btn-primary btn-lg" href="https://in.linkedin.com/">
        <i class="icon-large"><img src="../images/linkedin.png"/></i> Sign in with LinkedIn
      </a>
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:#FFFFFF;">
    <h2>Client Application</h2>
    <form accept-charset="UTF-8" action="#" class="new_client_profile ng-pristine ng-valid" id="new_client_profile" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="XmrEjZEqiN8YSV1wLvRnBaTehJAhYde+6TBaiCuqws0="></div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
        <label for="client_profile_email">Email</label><br>
        <input class="form-control" id="client_profile_email" name="client_profile[email]" placeholder="Larry@google.com" type="email">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p>
        <label for="client_profile_f_name">First Name</label><br>
        <input class="form-control" id="client_profile_f_name" name="client_profile[f_name]" placeholder="Larry" type="text">
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p>
        <label for="client_profile_l_name">Last Name</label><br>
        <input class="form-control" id="client_profile_l_name" name="client_profile[l_name]" placeholder="Page" type="text">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
        <label for="client_profile_company">Company</label><br>
        <input class="form-control" id="client_profile_company" name="client_profile[company]" placeholder="Google" type="text">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
        <label for="client_profile_hiring_loc">Hiring Location</label><br>
        <input class="form-control" id="client_profile_hiring_loc" name="client_profile[hiring_loc]" placeholder="San Francisco, CA" type="text">
      </p>
    </div>
  </div>
  <div style="margin-top:10px;">
    <input class="btn btn-block btn-lg btn-primary" name="commit" type="submit" value="Submit">
  </div>
</form>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  </div>




<p>&nbsp;</p>
<div class="container">
<div class="row">
    <div class="col-lg-12">
      <h2>Client FAQs</h2>
       <hr style="border-top: 1px solid #3f3f3f;">
    <h3>Service Fees</h3>
    <p><strong>What is your fee?</strong></p>
    <p>Our standard recruitment  service fee is 30% of the annualized salary on full-time positions. Currently, we are only accepting clients seeking full-time candidates.</p>
    <p><strong>What if the candidate is let go?</strong></p>
    <p>Each candidate is guaranteed for 60 days. If the candidate is let go within 60 days, for whatever reason, we will find a suitable replacement at no charge.</p>
    <h3>The Recruitment Process</h3>
    <p><strong>How long does it take?</strong></p>
    <p>Our goal is to have a candidate portfolio delivered within one week.</p>
    <p><strong>Where do you source your talent?</strong></p>
    <p>We have exclusive access to Sencha ExtJs specific domains. This has allowed us to grow a private talent pool of developers seeking work with Sencha ExtJs.</p>
    <h3>Our Developers</h3>
    <p><strong>What is an Sencha ExtJs Developer?</strong></p>
    <p>Not only is an Sencha ExtJs developer capable of working with the latest and greatest JavaScript frameworks. This developer is also capable of recognizing breakthrough technologies and adapting to major changes in their workflow. Each developer also comes with their own custom set of skills useful for front and backend development.</p>
    <p><strong>What are other common skills among Sencha ExtJs developers?</strong></p>
    <p>Ruby on Rails, Node.js, Python, Java, Scala, .Net.</p>
  </div>
<p>&nbsp;</p>
</div>
</div>	

