@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginReg.cshtml";
}

<div class="wrapper full-page-wrapper page-login text-center">
		<div class="inner-page">
			<div class="logo">
                @Html.Raw(@Html.ActionLink("[replacetext]", "index", "Home").ToHtmlString().Replace("[replacetext]", "<img src=\"/images/SenchaJobs-Logo-SenchaExtJS-Jobs.png\" ... />"))
            </div>
			<div class="login-box center-block">
				<form class="form-horizontal" role="form" action='@Url.Action("Index","Home")'>
					<p class="title">Use your username</p>
					<div class="form-group">
						<label for="username" class="control-label sr-only">Username</label>
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text" placeholder="username" id="username" class="form-control">
								<span class="input-group-addon"><i class="fa fa-user"><img src="../images/1422397944_user-01-16.png"/></i></span>
							</div>
						</div>
					</div>
					<label for="password" class="control-label sr-only">Password</label>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<input type="password" placeholder="password" id="password" class="form-control">
								<span class="input-group-addon"><i class="fa fa-lock"><img src="../images/1422398063_lock-24-16.png"/></i></span>
							</div>
						</div>
					</div>
					<label>
						<input type="checkbox">
						<span>Remember me next time</span>
					</label>
					<button class="btn btn-custom-primary btn-lg btn-block btn-login"><i class="fa fa-arrow-circle-o-right"><img src="../images/CircledArrowRight.png"/></i> Login</button>
				</form>

				<div class="links">
					<p>
						<a href="#">Forgot Username or Password?</a>
					</p>
					<p>
						<a href="#">Create New Account</a>
					</p>
				</div>
			</div>
		</div>
		<div class="push-sticky-footer"></div>
	</div>

