@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_InnerPages.cshtml";
}
<div class="container col-lg-12" style="background: url('../images/bg.png');">
    <div class="col-lg-12">
        <img src="../images/tri.png" class="img-responsive" style="margin-left: -9px;" /></div>

    <p id="notice"></p>

    <div class="container text-center" >

        <div class="row">
            <h3><strong style="color: #FFFFFF;">Upload Your Profile &amp; Get SenchaExtJs Jobs</strong></h3>
        </div>

        <div>
            <em class="lead" style="color: #FFFFFF;">Choose preferred service:</em>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 5px">
                <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://in.linkedin.com/">
                    <span class="hidden-xs">Linkedin <i class="icon-large">
                        <img src="../images/linkedin.png" /></i></span>
                    <i class="icon-linkedin-sign icon-large visible-xs"></i>
                </a>
                <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://plus.google.com">
                    <span class="hidden-xs">Google <i class="icon-large">
                        <img src="../images/google.png" /></i></span>
                    <i class="icon-google-plus-sign visible-xs"></i>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://github.com/">
                    <span class="hidden-xs">Github <i class="icon-large">
                        <img src="../images/github.png" /></i></span>
                    <i class="icon-github icon-large visible-xs"></i>
                </a>
                <a class="btn btn-block btn-primary btn-lg" style="font-size: 2em;" href="https://www.facebook.com/">
                    <span class="hidden-xs">Facebook <i class="icon-large">
                        <img src="../images/facebook.png" /></i></span>
                    <i class="icon-facebook-sign icon-large visible-xs"></i>
                </a>
            </div>
        </div>

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<div class="container">
<div class="row">
    <div class="col-lg-12">
      <h2>Choose SenchaExtJsJobs</h2>
      <ul class="lead">
        <li>Takes less than 5 Minutes</li>
        <li>Get referred to only our Top Clients</li>
        <li>We will only contact you with Jobs based on your Questionnaire</li>
        <li>This is your Opportunity to be individually reviewed for referral to our Top Clients</li>
      </ul>
      <hr style="border-top: 1px solid #3f3f3f;">
      <p><b>Is it really that easy? Only one way to find out...</b></p>
    </div>
  </div>
<p>&nbsp;</p>
 </div>
