@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginReg.cshtml";
}

<div class="wrapper full-page-wrapper page-register text-center">
		<div class="inner-page">
			<div class="logo">
				<a href="index.html">
                     @Html.Raw(@Html.ActionLink("[replacetext]", "index", "Home").ToHtmlString().Replace("[replacetext]", "<img src=\"/images/SenchaJobs-Logo-SenchaExtJS-Jobs.png\" ... />"))
				</a>
			</div>
			

			<div class="register-box center-block">
				<form action='@Url.Action("Index","Home")'>
					<p class="title">Create Your Account</p>
					<input type="email" placeholder="email" class="form-control">
					<input type="password" placeholder="password" class="form-control">
					<input type="password" placeholder="repeat password" class="form-control">
					<label >
						<input type="checkbox">
						<span>I accept the
							<a href="#">Terms &amp; Agreements</a>
						</span>
					</label>
					<button class="btn btn-custom-primary btn-lg btn-block btn-register"><i class="fa-check-circle"><img src="../images/checkcircle.png" style="width:16px; height:16px;"/></i> Create Account</button>
				</form>
			</div>
		</div>
		
	</div>


